<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="proxyListDirectory" value=""/>
		<add key="streamUrl" value="https://twitch.tv/Your_Channel"/>
		<add key="headless" value="false"/>
		<add key="refreshInterval" value="0"/>
		<add key="withLoggedIn" value="false"/>
		<add key="loginInfos" value=""/>
		<add key="uselowcpuram" value="false"/>
		<add key="appId" value=""/>
	</appSettings>
</configuration>