<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="proxyListDirectory" value="C:\\Source\\TwitchBot\\TwitchBot\\bin\\Debug\\netcoreapp3.1\\proxylist.txt"/>
		<add key="streamUrl" value="https://twitch.tv/deneyyapiyoruz"/>
		<add key="headless" value="false"/>
	</appSettings>
</configuration>